# Client 和 Server 共享的环境变量配置文件
CLIENT_PORT=3000
SERVER_PORT=4000

# model 配置
OPENAI_API_KEY=XXX
OPENAI_BASE_URL=XXX
MODEL_NAME=XXX

# Supabase 配置
SUPABASE_PUBLISHABLE_KEY=XXX
SUPABASE_SERVICE_KEY=XXX
SUPABASE_URL=XXX

# Embedding 配置
EMBEDDING_MODEL_NAME=XXX
EMBEDDING_DIMENSIONS=XXX
EMBEDDING_BASE_URL=XXX
EMBEDDING_API_KEY=sXXX

# 网络搜索bocha 配置
BOCHA_BASE_URL=https://api.bocha.cn/v1/web-search
BOCHA_API_KEY=XXX

#langsmith
LANGSMITH_API_KEY=XXX
LANGSMITH_PROJECT=XXX
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://apac.api.smith.langchain.com