.knowledge-page {
    display: flex;
    flex: 1;
    height: 100%;
    flex-direction: column;
    padding: 0 0 16px;
    box-sizing: border-box;
    overflow: hidden;
}

.content {
    flex: 1;
    overflow-y: auto;
}
